# Carpetas de compilación de Maven
target/
*.egg-info/

# --- Compilación de Java y Herramientas de Construcción ---
# Archivos de clase compilados individuales
*.class

# Archivos de configuración de VS Code
.vscode/
*.code-workspace

# Archivos de configuración de IntelliJ / Eclipse
.idea/
*.iml
.classpath
.project
.settings/

# Archivos del Sistema Operativo
.DS_Store
Thumbs.db